In [15]:
import os 
import pandas as pd 
import numpy as np 
import cv2 as cv

In [2]:
# define path constants: input output manipulation
input_path = "D:\\Machine_Learning\\Portfolio_Project_Machine_Learning\\Mobile_Phone_Recognition\\datasets\\images"
output_path = "D:\\Machine_Learning\\Portfolio_Project_Machine_Learning\\Mobile_Phone_Recognition\\datasets\\train"

# load the dataset --> extract image files and labels
dataset_directory = "D:\\Machine_Learning\\Portfolio_Project_Machine_Learning\\Mobile_Phone_Recognition\\image_processing\\image_dataset.csv"
image_df = pd.read_csv(dataset_directory, index_col=0)

# extract the image items and company labels
in_images = image_df[["Image_file", "Company"]]
in_images

        Image_file   Company
0    image_000.jpg   Samsung
1    image_001.jpg   Samsung
2    image_002.jpg  Motorola
3    image_003.jpg    Xiaomi
4    image_004.jpg   Samsung
..             ...       ...
795  image_795.jpg     Nokia
796  image_796.jpg   Samsung
797  image_797.jpg     Nokia
798  image_798.jpg    Xiaomi
799  image_799.jpg    Xiaomi

[800 rows x 2 columns]

In [17]:
image_path = "D:\Machine_Learning\Portfolio_Project_Machine_Learning\Mobile_Phone_Recognition\mobile_phone_images\mobile_images\image_001.jpg"
img = cv.imread(image_path)
img.shape

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\mian_\AppData\Local\Temp\ipykernel_18564\1875706652.py:1: SyntaxWarning: invalid escape sequence '\M'
  image_path = "D:\Machine_Learning\Portfolio_Project_Machine_Learning\Mobile_Phone_Recognition\mobile_phone_images\mobile_images\image_001.jpg"

(320, 250, 3)